body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #252525;
}

nav {
	max-width: 960px;
	margin: 0 auto;
	border-bottom: 2px solid #00d6d6;
}

ul a {
	padding: 5px;
	text-decoration: none;
	color: #252525;
}

img {
	max-width: 150px;
}

.my-container {
	max-width: 750px;
	margin: 0 auto;
	padding: 10px;
}

.active {
	font-weight: bold;
}

.btn {
	margin-top: 10px;
}

.big {
	max-width: 360px;
}

.avatar {
	max-width: 50px;
}

.divider {
	display: flex;
	justify-content: center;
	align-items: center;
}
.divider span {
	position: relative;
	display: inline-block;
}

.divider > span:before,
.divider > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 200px;
	height: 1px;
	background: gray;
}

.divider > span:before {
	right: 100%;
	margin-right: 15px;
}

.divider > span:after {
	left: 100%;
	margin-left: 15px;
}

.results {
	position: relative;
}

/* Your Vote label on PollResults */
.label {
	position: absolute;
	bottom: 87%;
	right: -5%;
}

/* Leaderboard badge */
.rank {
	position: absolute;
	bottom: 87%;
	left: 0;
}

.rank .fa {
	color: white;
}

.new-poll {
	position: relative;
}

/* spinner on NewPoll */
.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
}
